<style>
  div {
    width: 650px;
    height: 250px;
    overflow: auto;
    position: relative;
    resize: both;
  }
  pre {
    width: 600px;
    height: 100px;
    overflow: auto;
    position: relative;
    resize: both;
    left:50px;
    border: solid 1px #888;
  }
  table {
    font-family: Consolas, monaco, monospace;
    font-size: small;
  }
  table td:nth-child(1) {
    text-align: right;
  }
  table td input {
    width: 23em;
    font-family: Consolas, monaco, monospace;
  }
</style>

<input type="button" value="size 0x0" (click)="fnc0x0()">
<input type="button" value="size 1x1" (click)="fnc1x1()">
<input type="button" value="size 1x1w100" (click)="fnc1x1w100()">
<input type="button" value="size 3x3" (click)="fnc3x3()">
<input type="button" value="size 5x5" (click)="fnc5x5()">
<input type="button" value="10x20" (click)="fnc10x20()">
<input type="button" value="20x20" (click)="fnc20x20()">
<input type="button" value="100x20" (click)="fnc100x20()">
<input type="button" value="20x100" (click)="fnc20x100()">&nbsp;
<input type="button" value="data update" (click)="update()">
<input type="button" value="sample" (click)="sample()">
<input type="button" value="set custom" (click)="setCustom()">

<form><table>
  <tr>
    <td>fontFamily</td><td><input type="text" value="Consolas, monaco, monospace"></td>
    <td>bodyColor</td><td><input type="text" value="#000000"></td>
  </tr>
  <tr>
    <td>fontSize</td><td><input type="text" value="1rem"></td>
    <td>bodyBoxShadow</td><td><input type="text" value="1px 1px 3px 0 #cccccc inset"></td>
  </tr>
  <tr>
    <td>borderColor</td><td><input type="text" value="#888888"></td>
    <td>bodyBoxPadding</td><td><input type="text" value=".4em"></td>
  </tr>
  <tr>
    <td>headerBackground</td><td><input type="text" value="#888888 linear-gradient(#888888, #666666)"></td>
    <td>bodyEvenColor</td><td><input type="text" value="#eeeeee"></td>
  </tr>
  <tr>
    <td>headerColor</td><td><input type="text" value="#ffffff"></td>
    <td>bodyOddColor</td><td><input type="text" value="#ffffff"></td>
  </tr>
  <tr>
    <td>headerBoxShadow</td><td><input type="text" value="1px 1px 3px 0 #cccccc inset"></td>
    <td>bodySeldColor</td><td><input type="text" value="#ffeeee"></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>bodyHovrColor</td><td><input type="text" value="#eeffee"></td>
  </tr>
</table></form>

<hr>

<div style="left:50px">
  <ngx-tym-table #tymTable
    [custom]="custom"
    [afnc]="afnc"
    [cols]="cols"
    [data]="data"
    [odrmk]="odrmk"
  ></ngx-tym-table>
</div>

<div style="left:50px">
  <ngx-tym-table
    [custom]="custom1" [cols]="cols1" [data]="data1" [odrmk]="odrmk1"></ngx-tym-table>
  <br>
  <ngx-tym-table
    [custom]="custom2" [cols]="cols2" [data]="data2" [odrmk]="odrmk2"></ngx-tym-table>
</div>

<pre id="target"
  (dragover)="dragover($event)"
  (drop)="drop($event)">{{DropZone}}</pre>
