form {
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
}
form>input {
  font-size: 12px;
}
form>input[type="text"] {
  width: 6em;
}
#tymTable {
  width: 650px;
  height: 250px;
  left: 50px;
  overflow: auto;
  position: relative;
  resize: both;
}
#tymTable2 {
  width: 650px;
  height: 250px;
  left: 50px;
  overflow: auto;
  position: relative;
}
.tymTablex {
  overflow: auto;
  margin: 1em;
  position: relative;
}
.tymTablex td {
  padding: .5em;
}
#tymTable3 {
  width: 650px;
  height: 150px;
  left: 50px;
  overflow: auto;
  position: relative;
}
.tymTable4 {
  width: 650px;
  height: 120px;
  left: 50px;
  overflow: auto;
  position: relative;
}
#tymSplitter {
  width: 650px;
  height: 130px;
  left: 50px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 4px;
  resize: both;
}
#target {
  width: 600px;
  height: 100px;
  overflow: auto;
  position: relative;
  resize: both;
  left:50px;
  border: solid 1px #888;
}
.tymResize {
  left: 50px;
  display: inline-block;
  position: relative;
}
#cust {
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
}
#cust td:nth-child(1) {
  text-align: right;
}
#cust td:nth-child(3) {
  text-align: right;
}
#cust td input {
  width: 20em;
  font-family: Consolas, monaco, monospace;
}
#cust td:nth-child(4) input {
  width: 15em;
}
.tymTable4 tym-table-view>table,
.tymTable5 tym-table-view>table {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
}
.tymTable4 tym-table-view>table tbody tr:nth-child(even)>*,
.tymTable5 tym-table-view>table tbody tr:nth-child(even)>* {
  background-color: #eee;
}
.tymTable4 tym-table-view>table tbody tr:nth-child(odd)>*,
.tymTable5 tym-table-view>table tbody tr:nth-child(odd)>* {
  background-color: #fff;
}
.tymTable4 tym-table-view>table thead tr th,
.tymTable5 tym-table-view>table thead tr th {
  width: 6em;
}
.tymTable4 tym-table-view>table thead tr th:last-child,
.tymTable5 tym-table-view>table thead tr th:last-child {
  width: unset;
}
.tymTable4 tym-table-view>table tbody tr td,
.tymTable5 tym-table-view>table tbody tr td {
  text-align: right;
}
#tymComm>tr>*{
  width: 5em;
  border: solid 1px #ccc;
}
