<style>
  div {
    width: 600px;
    height: 250px;
    overflow: auto;
    position: relative;
    resize: both;
  }
  pre {
    width: 600px;
    height: 100px;
    overflow: auto;
    position: relative;
    resize: both;
    left:50px;
    border: solid 1px #888;
}
</style>

<input type="button" value="size 0x0" (click)="fnc0x0()">
<input type="button" value="size 1x1" (click)="fnc1x1()">
<input type="button" value="size 1x1w100" (click)="fnc1x1w100()">
<input type="button" value="size 3x3" (click)="fnc3x3()">
<input type="button" value="size 5x5" (click)="fnc5x5()">
<input type="button" value="10x20" (click)="fnc10x20()">
<input type="button" value="20x20" (click)="fnc20x20()">
<input type="button" value="100x20" (click)="fnc100x20()">
<input type="button" value="20x100" (click)="fnc20x100()">
<input type="button" value="100x100" (click)="fnc100x100()">&nbsp;
<input type="button" value="data update" (click)="update()">
<input type="button" value="set custom" (click)="setCustom()">

<hr>

<div style="left:50px">
  <ngx-tym-table
    [custom]="custom"
    [defs]="defs"
    [data]="data"
  ></ngx-tym-table>
</div>

<!-- <div style="left:50px">
  <ngx-tym-table
    [custom]="custom"
    [defs]="defs"
    [data]="data"
  ></ngx-tym-table>
</div> -->

<pre id="target"
  (dragover)="dragover($event)"
  (drop)="drop($event)">{{DropZone}}</pre>
